using System;
using System.Collections.Generic;
using System.Text;
using System.Web.Caching;

namespace $BeforeNamespaceDot$ICacheDependency
{
    public interface ISocansoftCacheDependency
    {
        AggregateCacheDependency GetDependency();
    }
}